<ion-view view-title="Date">
    <ion-content padding=true>
        <h1>Pick a Date</h1>
        <div class="list">

            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    tomorrow
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    one week
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    two weeks
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    three weeks
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    one month
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    two months
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    three months
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    half a year
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    one year
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

    </ion-content>
</ion-view>