<ion-view view-title="Send">
    <ion-content padding=true>
        <h1>Send Prize</h1>
        <h2>Message</h2>
        <div class="list">
            <label class="item item-input">
                <textarea ng-model="text" rows=10 placeholder="Type a nice message here!"></textarea>
            </label>
        </div>
        <div class="row">
            <button class="button icon-right ion-camera button-assertive" ng-click="takePicture()">Take Picture</button>
        </div>
        <img ng-src="{{imgsource}}" ng-show="pictureTaken" />

        <h2>Payment</h2>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Amount</span>
                <input ng-model="payment" type="tel">
            </label>
        </div>
        
    </ion-content>
</ion-view>